@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Nunito', sans-serif;
    }
}

@layer components {
    .btn-primary {
        @apply flex justify-center items-center gap-3 bg-amber-400 text-slate-800 font-bold outline-none py-2 px-6 rounded-md shadow-lg hover:bg-amber-300 duration-300 active:scale-95;
    }

    .btn-secondary {
        @apply btn-primary bg-slate-600 text-white hover:bg-slate-500;
    }
}